<!doctype html>
<html lang="id">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="{{ warna.brand }}">
<title>{% block title %}{{ p.nama_instansi }}{% endblock %}</title>
<link rel="icon" href="{{ logo }}">
<link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/static/vendor/bootstrap-icons/bootstrap-icons.min.css">
<link rel="stylesheet" href="/static/vendor/inter/inter.css">
<link rel="stylesheet" href="/static/css/app.css">
<style>:root{--brand:{{ warna.brand }};--brand-dark:{{ warna.brand_dark }};--brand-light:{{ warna.brand_light }};--brand-soft:{{ warna.brand_soft }};--brand-soft2:{{ warna.brand_soft2 }};--on-brand:{{ warna.on_brand }}}</style>
{% block head %}{% endblock %}
</head>
<body>
<main class="wrap-app">
{% block content %}{% endblock %}
</main>
{% block footer %}<footer class="footer-app">{{ footer }}</footer>{% endblock %}
<script src="/static/vendor/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/static/js/app.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
